{% extends 'base.html'%} {% block content %}

<div class="anotherpage_height"></div>

<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header_pert">
          <h2>Advertisements</h2>

          <div class="mission_vission_content">
            <div class="row">
              <div class="col-lg-6">
                <div class="img my-4 text-center" style="margin-right: 20px">
                  <img
                    src="https://bdcccl.com/frontend_assets/images/advertisement1.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="img my-4 text-center" style="margin-right: 20px">
                  <img
                    src="https://bdcccl.com/frontend_assets/images/advertisement2.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section_height"></div>

{% endblock %}
