{% extends 'base.html'%} {% block content %}

<div class="anotherpage_height"></div>

<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header_pert">
          <h2>Board Meetings And AGM</h2>

          <div class="mission_vission_content">
            <ul>
              <li>Project Procurement</li>
              <li>New Business Proposal</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section_height"></div>

{% endblock %}
