{% extends 'base.html'%} {% block content %}

<div class="anotherpage_height"></div>

<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header_pert">
          <h2>Corporate Social Responsibility</h2>

          <div class="mission_vission_content">
            <h3>Corporate Social Responsibility</h3>
            <p>
              Since its humble beginning, the CCCL family has always been driven
              and guided by ethics, moral values, goodwill and ambition.
              Innovative in its approach, inventive in its thought process and
              creative to improvise in the face of predicament, the success of
              the Group lies with it being pioneers at what it does and how it
              implements its assets.
            </p>
            <p>
              With Allah’s blessings, CCCL has come a long way from its
              inception to become one of the most trusted business houses in the
              country. Throughout this journey it never forgot its commitments
              to the society and got involved in various ventures as part of its
              social responsibilities.
            </p>

            <div class="img my-4">
              <img
                src="https://bdcccl.com/frontend_assets/images/Environment Friendly Practices.jpg"
                alt=""
                class="w-50"
              />
            </div>

            <h4>Social Activities,</h4>
            <ul>
              <li>Poverty Alleviation</li>
              <li>Education</li>
              <li>Health</li>
              <li>Community Services.</li>
            </ul>
          </div>

          <div class="mission_vission_content">
            <h3>Environment Friendly Practices</h3>
            <p>
              Starting with designing efficient industries that require less
              fossil fuel consumption to implementing multi-stage processes,
              CCCL has a long track record of providing pioneering environment
              friendly solutions for developing the nation's infrastructure.
            </p>

            <ul>
              <li>Comply with all relevant regulatory requirements</li>
              <li>
                Continually improve and monitor environmental performance I
                Continually improve and reduce environmental impacts
              </li>
              <li>
                Incorporate environmental factors into business decisions I
                Increase employee awareness
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section_height"></div>

{% endblock %}
