{% extends 'base.html'%} {% block content %}

<div class="anotherpage_height"></div>

<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header_pert">
          <h2>History And Milestones</h2>

          <div class="mission_vission_content">
            <div class="row">
              <div class="col-lg-6">
                <div class="img my-4 text-center" style="margin-right: 20px">
                  <img
                    src="https://bdcccl.com/frontend_assets/images/history.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="img my-4 text-center" style="margin-right: 20px">
                  <img
                    src="https://bdcccl.com/frontend_assets/images/Milestones .jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>

            <p>
              CrossCountry Construction Ltd is an ongoing independent ready
              mixed concrete & Construction Company in Bangladesh. The company
              was established in 2009 with participation from The Charm Ltd,
              Revenco, MPCCL & TREL.
            </p>

            <p>
              The company manufactures and supplies Ready Mix Concrete (RMC) and
              Construction Service. Its portfolio of customers includes
              construction companies, real estate developers, contractors,
              infrastructure companies, Industrial Projects (Cement, Steel,
              Power Plants, Amusement Park, Resorts, Hotel Building etc),
              Commercial Projects and individuals owners. Apart from normal
              concrete mixes of various grades, CCCL also produces special
              concrete solutions using its world class infrastructure and
              technology and ensures product and service quality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section_height"></div>

{% endblock %}
