<!-- ------------------------------------------------------------------------------------------------------------
    Back to Top PART START
-------------------------------------------------------------------------------------------------------------- -->

<a href="#" class="back_to_top">
  <svg
    width="11"
    height="9"
    viewBox="0 0 11 9"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.172916 4.07968L4.07976 0.172739C4.19128 0.0612149 4.33992 0 4.49841 0C4.65708 0 4.80563 0.0613028 4.91715 0.172739L5.27187 0.527539C5.3833 0.638887 5.44469 0.787614 5.44469 0.946193C5.44469 1.10468 5.3833 1.25842 5.27187 1.36977L2.99267 3.65399H10.2338C10.5603 3.65399 10.8182 3.90958 10.8182 4.23614V4.73774C10.8182 5.0643 10.5603 5.34566 10.2338 5.34566H2.96681L5.27178 7.64263C5.38321 7.75415 5.44461 7.89884 5.44461 8.05741C5.44461 8.21582 5.38321 8.36261 5.27178 8.47404L4.91707 8.8277C4.80554 8.93923 4.65699 9 4.49833 9C4.33984 9 4.1912 8.93843 4.07967 8.82691L0.172828 4.92006C0.0610409 4.80819 -0.000437419 4.65884 2.34302e-06 4.50009C-0.000349466 4.34081 0.0610405 4.19138 0.172916 4.07968Z"
      fill="#DDDDDD"
    />
  </svg>
</a>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------
    START FOOTER PART
--------------------------------------------------------------------------------------------------------------------------------------------------- -->

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="footer_content">
          <div class="logo">
            <a href="https://bdcccl.com">
              <img
                src="https://bdcccl.com/frontend_assets/images/logo.svg"
                alt=""
              />
            </a>
          </div>

          <div class="text">
            <h3>Stay Connected With Us</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="footer_content">
          <div class="text">
            <ul>
              <li>
                <a href="https://bdcccl.com/career/company_profile"
                  >Company Profile</a
                >
              </li>

              <li>
                <a href="{% url 'board_of_directors' %}">Board Of Directors</a>
              </li>

              <li>
                <a href="{% url 'mission_vission'%}">Mission And Vision</a>
              </li>

              <li>
                <a href="{% url 'history_milestones'%}"
                  >History And Milestones</a
                >
              </li>

              <li>
                <a href="{% url 'corporate_speech'%}">Message From MD</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="footer_content">
          <div class="text">
            <ul>
              <li>
                <a href="{% url 'board_meetings_agm'%}"
                  >Board Meetings And AGM</a
                >
              </li>

              <li>
                <a href="{% url 'corporate_governance'%}"
                  >Corporate Governance</a
                >
              </li>

              <li>
                <a href="{% url 'report_statements'%}"
                  >Reports And Statements</a
                >
              </li>

              <li>
                <a href="{% url 'contactus' %}">Contact Us</a>
              </li>

              <li>
                <a href="{% url 'notice'%}">Notice</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="footer_content">
          <div class="text">
            <ul>
              <li>
                <a href="{% url 'news_events'%}">News And Events</a>
              </li>

              <li>
                <a href="{% url 'projectpage' %}">Project Diaries</a>
              </li>

              <li>
                <a href="{% url 'corporate_soical'%}"
                  >Corporate Social Responsibility</a
                >
              </li>

              <li>
                <a href="{% url 'advertisements'%}">Advertisements</a>
              </li>

              <li>
                <a href="{% url 'carrer' %}">Carear</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="copy_right d_flex">
      <div class="social_icon">
        <div class="social_bgs f">
          <a href="https://www.facebook.com/ccclbd.rmc/" target="_blank"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </div>

        <div class="social_bgs">
          <a href="https://www.instagram.com/ccclbd/" target="_blank"
            ><i class="fab fa-instagram-square"></i
          ></a>
        </div>

        <div class="social_bgs">
          <a href="https://www.youtube.com/watch?v=1grxnAtgG-M" target="_blank"
            ><i class="fab fa-youtube"></i
          ></a>
        </div>

        <div class="social_bgs">
          <a href=""><i class="fab fa-linkedin-in" target="_blank"></i></a>
        </div>
      </div>

      <div class="right d_flex">
        <p>© All Rights Reserved</p>
        <p>Developed By <a href="">Universe Infotech</a></p>
      </div>
    </div>
  </div>
</footer>
